.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.rds 
/results
inst/doc
/vignettes/example_cache
R/draft.R
inst/extras
/results_realistic 
/results_realdata\ 
*.csv 
*.png
*.pdf 
depreciated/ 
data/
.Rapp.history
/benchmark
